#root{
    background-color: rgb(27, 36, 54);
}
html{
    background-color: rgb(21, 33, 43);
}
p,
h1,
h2,
h3,
h4{
    margin: 0 !important;
}

.green {
    color: rgb(5, 197, 5);
}
.red {
    color: rgb(207, 34, 34);
}

.yellow {
    color: rgb(241, 241, 112);
}