#root{
    background-color: rgb(21, 33, 43);
}
html{
    background-color: rgb(21, 33, 43);
}
p,
h1,
h2,
h3,
h4{
    margin: 0 !important;
}
a{
    cursor: pointer;
}
.green {
    color: rgb(5, 197, 5);
}
.red {
    color: rgb(207, 34, 34);
}

.yellow {
    color: rgb(241, 241, 112);
}

.aqua {
    color: rgb(71, 216, 197);
}

.purple{
    color: rgb(147, 135, 253);
}

.session-btn {
    background-color: rgb(69, 56, 184);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: smaller;
}