.dashboard-nav {
    display: grid;
    grid-area: 1 / 2 / 2 / 11;
    grid-template-columns: 2fr 1fr;
}

.logout{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.text-end{
    display: flex;
    justify-content: flex-end;
}
.text-end p {
    cursor: pointer;
}