.graph-item-1{
    grid-area: 3/ 2 / 6 / 6 ;
  
}

.most-recent-container {
    
    grid-area: 3 / 6 / 6 / 9;
}

.most-recent {
    /* background-color: rgba(40, 61, 82, 0.753); */
    display: grid;
    grid-gap: .3em;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 70px 70px 70px 70px 70px;
    max-height: 315px; 
    overflow-y: auto;
    z-index: 1;
}


.recent-header,
.recent-session{
    background-color: rgba(40, 61, 82, 0.753); 
   color: white;
}
.recent-session-p{
   
    line-height: 1;
}
.recent-date{
    font-size: small;
}

.recent-session-location{
    color: #ffffff6c;
    font-size: small;
}

.win-loss{
    color: rgb(5, 197, 5);
    font-weight: bold;
}
.most-recent::-webkit-scrollbar {
    background-color: #3a4e61; /* Set the background color of the scrollbar track */
    
    width: 0.5em; /* Set the width of the scrollbar */
}
.most-recent::-webkit-scrollbar-thumb {
    background-color: #5f6e7e; /* Set the color of the scrollbar thumb */
    
}

.graph-item-1{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.graph-item-2 {
    background-color: rgba(40, 61, 82, 0.753);
    grid-area: 6 / 2 / 9 / 9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 100px 100px 80px;
    
}

.monthly-chart {
    grid-area: 2 / 1 / 5 / 5;
    
}

#monthly-title {
    grid-area: 1 / 1 / 2 / 5;
    display: flex;
    align-items: center;
}

.month-color {
    grid-area: 2 / 5 / 5 / 6;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

.colors{
    display: flex;
    align-items: center;
}
.red-color{
    background-color: #B72D2D;
    height: 15px;
    width: 15px;
}

.yellow-color{
    background-color: #EAEC87;
    height: 15px;
    width: 15px;
}
