.stat-item{
    background-color: rgba(40, 61, 82, 0.753);
    border-radius: 2px ;
}

.stat-item-1{
    
    grid-area: 2 / 1 / 2 / 3;
}
.stat-item-2{
    
    grid-area: 2 / 3 / 2 / 6;
}
.stat-item-3{
    
    grid-area: 2 / 6 / 2 / 9;
}

.total-hours{
    color: white;
}

