.stat-item{
    background-color: rgba(40, 61, 82, 0.753);
    border-radius: 2px ;
}

.stat-item-1{
    
    grid-area: 2 / 2 / 2 / 4;
}
.stat-item-2{
    
    grid-area: 2 / 4 / 2 / 7;
}
.stat-item-3{
    
    grid-area: 2 / 7 / 2 / 9;
}

.total-hours{
    color: white;
}