*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.test{
   
   background-image: url(https://images.unsplash.com/photo-1551368998-d349c755c74c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100vw;
}

.test-2{
    background-color: rgba(0, 0, 0, 0.377);
    height: 100vh;
    width: 100vw;
 }

 #review{
    align-items: center;
    background-color: rgb(224, 224, 224);
    display: flex;
    height: 60vh;
    justify-content: center;
    width: 100vw;
 }

.carousel-item {
    height: 40vh;
    
}

.single-item {
    
    height: 40vh;
}


.navbar{
    transition: background-color .5s ease-in-out !important;
}

.navbar.nav-scroll {
    background-color: rgba(0, 0, 0, 0.877);
    transition: background-color .7s ease-in-out !important;
}

.click {
    margin: 1%;
    min-width: 100px;
    padding: 5px 0;
    width: 10vw;
}

.landing-container {
    background-color: rgb(243, 241, 241);
}


.form-modal {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }

  /* Style for the modal container */
  .form-modal-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
   max-width: 400px;
    padding: 20px;
    width: 100%;
  }

  /* Style for the form inputs */
  .form-input {
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
  }

  /* Style for the form submit button */
  .form-submit {
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
  }

  /* Style for the form submit button on hover */
  .form-submit:hover {
    background-color: #0056b3;
  }

  .exit-modal {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .close-btn{
    cursor: pointer;
  }